<h1>Listing Tweets</h1>
<table>
	<tr>
		<th>Status</th>
		<th>Bear</th>		
	</tr>
	<% tweets = Tweet.all %>
	<% tweets.each do |tweet| %>
		<tr>
			<td><%= tweet.bear.status %></td>
			<td><%= link_to tweet.bear.name, tweet.bear %></td>
			<td><%= link_to "Edit", edit_tweet_path(tweet) %></td>
			<td><%= link_to "Delete", tweet, method: :delete %></td>			
		</tr>
	<% end %>
	<% if tweets.size == 0 %>
		<em>No tweets found...</em>
	<% end %>
</table>
