body {
	font-family: arial, sans-serif;
	font-weight: 200;
	font-size: 0.83em;
}

a {
	color: #404040;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

.navbar {
	display: table;
	height: 60px;
	width: 100%;
	position: fixed;
}

.navbar ul {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

li {
	display: inline-block;
	margin: 0 7px 0 7px;
}


.sign-in {
	color: #fff;
	font-weight: 600;
	margin-right: 16px;
	background: #4285f4;
	padding: 8px 12px 8px 12px;
	border-radius: 2px;
}

.sign-in:hover {
	color: #fff;
	background: #3B78DC;
	text-decoration: none;
}

/* APPS DIV */

.apps {
	height: 26px; width: 26px;
	margin: 0 7px 0 7px;
	transform: translate(0, 9px);
	border-radius: 2px;
}


.square {
	z-index: 0;
	height: 11px; width: 11px;
	background: #c2c2c2;
	border-radius: 15%;
	position: absolute;
}

#one {
	margin: 0 0 0 0;
}

#two {
	margin: 0 0 0 14px;
}

#three {
	margin: 14px 0 0 0;
}

#four {
	margin: 14px 0 0 14px;
}

.apps-cover {
	height: 26px; width: 26px;
	border-radius: 10%;
	background: transparent;
	margin-left: -0.5px;
	transform: translate(0, 0px);
}

.apps-cover:hover {
	background: #404040;
}

.capA {
	color: transparent;
	font-weight: 100;
	position: absolute;
	font-size: 38px;
	margin-left: -25px;
	transform: translate(0, -5px);
}

.capA:hover {
	color: #fff;
}

/* SEARCH CONTENT */

.search {
	height: 360px; width: 520px;

 	position: fixed;
 	top: 40%;
 	left: 50%;
 	transform: translate(-50%, -40%);
}

.logo {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
	border-radius: 10px;
}

.searchbar {
 	position: fixed;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

.search-buttons {
	font-weight: bold;
	color: #404040;
	margin-right: 16px;
	background: #f2f2f2;
	padding: 8px 12px 8px 12px;
	border-radius: 2px;
	border: 1px solid #DADADA;
	position: fixed;
	top: 70%;
}

.search-buttons:hover {
	background: #DADADA;
	border-color: #B0B0B0;
}

#google {
	left: 120px;
}

#lucky {
	left: 276px;
}

.footer {
	height: 40px;
	width: 100%;
	background: #f2f2f2;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #DADADA;
	display: table;
}

.footer a {
	color: #666;
}

.f-wrap {
	display: table-cell;
	vertical-align: middle;
	transform: translate(0, -6px);
}


.f-left {
	width: 50%;
	position: fixed;
	margin-left: 16px;
}

.f-right {
	width: 50%;
	position: fixed;
	margin-left: 50%;
	display: table;
}

.f-right ul {
	margin-right: 16px;
	text-align: right;
}

.footer li {
	margin-left: 9px;
}
