body {
	font-family: arial, sans-serif;
	font-weight: 200;
	font-size: 0.83em;
}

a {
	color: #404040;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

.navbar {
	display: table;
	height: 60px;
	width: 100%;
	position: fixed;
}

.navbar ul {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

li {
	display: inline-block;
	margin: 0 7px 0 7px;
}


.sign-in {
	color: #fff;
	font-weight: 600;
	margin-right: 16px;
	background: #4285f4;
	padding: 8px 12px 8px 12px;
	border-radius: 2px;
}

.sign-in:hover {
	color: #fff;
	background: #3B78DC;
	text-decoration: none;
}

.apps {
	height: 15px; width: 15px;
	background: #404040;
	border-radius: 2px;
}

.apps:hover {
	background: #333333;
	transform: rotate(45deg);
}

.dot {
	background: #ECECEC;
	height: 15px; width: 15px;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	border-radius: 50%;
}

.dot:hover {
	background: #D9D9D9;
}

/* SEARCH CONTENT */

.search {
	height: 360px; width: 520px;

 	position: fixed;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

.logo {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
	border-radius: 10px;
}

.searchbar {
 	position: fixed;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

.search-buttons {
	font-weight: bold;
	color: #404040;
	margin-right: 16px;
	background: #f2f2f2;
	padding: 8px 12px 8px 12px;
	border-radius: 2px;
	border: 1px solid #DADADA;
	position: fixed;
	top: 70%;
}

.search-buttons:hover {
	background: #DADADA;
	border-color: #B0B0B0;
}

#google {
	left: 120px;
}

#lucky {
	left: 276px;
}

.footer {
	display: table;
	height: 40px;
	width: 100%;
	background: #f2f2f2;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #DADADA;
}

.footer ul {
	display: inline-block;
	vertical-align: middle;
}

.footer li {
	display: inline-block;
}