<ul>
	<% @tags.sort_by(&:name).each do |tag| %>	
		<div class="line"></div>
		<li class="content_list_item">
			<%= link_to tag.name.capitalize, tag_path(tag, i: 1),
				class: 'article_title',
				id: "tag_#{tag.id}" %><br>
				
				<% if logged_in? %>
				<%= link_to "delete", tag_path(tag),
							method: :delete,
							data: { confirm: "Are you sure?" },
							class: "article_UD" %>
				<% end %>
		</li>
		<div class="line"></div>
	<% end %>
</ul>