/*body {
	font-family: 'Open Sans', sans-serif;
	color: #696153;
}

h1 {
	font-weight: 800;
	color: #FFA600;
	text-align: center;
}

a {
	text-decoration: none;
	color: #696153;
}

a:hover {
	color: #302B2F;
}

ul {
	list-style-type: none;
	margin-left: auto;
	padding: 0;
	text-align: center;
}

li {
	color: #696153;
}


.article_body .field {
	border: 1px solid #FFD596;
	border-radius: 5px;
	margin: 0 33% 5px 33%;
	padding: 10px;
}

	.article_title {
		font-size: 1em;
		font-weight: 400;
	}

	.article_UD {
		font-size: 0.75em;
		margin-left: auto;
	}

	#vertical {
		font-size: 0.75em;
	}

.new_article {
	color: #FFD596;
	font-weight: 700;
	font-size: 0.85em;
	text-align: center;
	margin-left: 33%;
	transform: translate(-33%, 0);
}

.new_article:hover {
	color: #FFA600;
}

.back {
	color: #FFD596;
	font-weight: 700;
	font-size: 0.85em;
	text-align: center;
	margin-left: 33%;
	transform: translate(-33%, 0);
}

.back:hover {
	color: #FFA600;
}

.flash {
	background-color: #FFD596;
	color: #ffffff;
	width: 34%;
	margin-left: 33%;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

#comments {
	width: 34%;
	margin-left: 33%;
}

.later {
	color: #FFD596;
	font-size: 0.65em;
}

.tags {
	margin-left: 33%;
	margin-right: 33%;
	text-align: center;
	font-size: 0.65em;
	font-weight: 700;
}

.image {
	border-radius: 100%;
	height: 100px;
	width: 100px;
	margin-left: 50%;
	transform: translate(-50%,0);
}

table {
	text-align: left;
}

#logout {
	font-weight: 200;
}

.authentication {
	position: fixed;
	margin-top: 50%;
}*/