<ul>
	<% @articles.each do |article| %>	
		<div class="line"></div>
		<li class="content_list_item">

			<%= link_to article.title, article_path(article),
				class: 'article_title',
				id: "article_#{article.id}" %><br>
				
				<% if logged_in? %>
					<%= link_to "edit", edit_article_path(article),
								class: "article_UD" %>
					<span id="vertical"> | </span>
					<%= link_to "delete", article_path(article),
								method: :delete,
								data: { confirm: "Are you sure?" },
								class: "article_UD" %>
				<% end %>
		</li>
		<div class="line"></div>
	<% end %>
</ul>