<h1>EDIT</h1>

<%= render 'form' %>

<%= link_to 'back', authors_path, class:"back" %>
<%= link_to 'show', @author, class:"back" %>

<style type="text/css">
	.field {
		text-align: center;
		margin-bottom: 20px;
	}
</style>