body {
	position: absolute;
	font-family: Arial, sans-serif;
	overflow: scroll;
}

.nav {
	z-index: 3;
	height: 45px;
	width: 100%;
	position: fixed;
	background: #fafafa;
	border-bottom: 1px solid lightgray;
}

.navbar {
	z-index: 3;
	position: fixed;
	width: 49.5%;
	display: table;
}

#n-l {
	margin-left: 0.5%;
}

#n-r {
	margin-left: 49.5%;
	text-align: right;
}

.navbutton {
	height: 25px;
	width: 65px;
	background: lightgray;
	border-radius: 3px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.navbutton:hover {
	background: gray;
}

.navbar a {
	text-decoration: none;
	color: #fff;
	font-size: 0.85em;
	font-weight: lighter;
	display: inline-block;
	margin: 10px;
}

.crossbeam {
	z-index: 1;
	position: absolute;
	height: 50px;
	width: 98%;
	background: #404040;
	margin-top: 170px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	border-radius: 5px;
	border: 5px solid #404040;
}

.jumbotron {
	z-index: 2;
	height: 350px;
	width: 85%;
	position: absolute;
	margin-top: 105px;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 15px;
}

.info {
	position: absolute;
	height: 125px;
	width: 60%;
	left: 20%;
	background: gray;
	border-radius: 5px;
}

#topic {
	margin-top: 525px;
}

#thesis {
	margin-top: 725px;
}

.topic {
	width: 50%;
	height: 150px;
	outline: white dashed 1px;
}

.thesis {
	width: 50%;
	height: 150px;
	margin-top: 0px;
	outline: black dashed 1px;
}

.sources {
	width: 80%;
	position: relative;
	margin-top: 625px;
	margin-left: 50%;
	transform: (-50%, 0);
}